{% extends "admin/base.html" %}

{% block extrahead %}
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
{% endblock %}

{% block extrastyle %}
<style>
    .dashboard #content {
        width: 75%;
    }
    .change-form .field-description div label,
    .change-form .field-notes div label,
    .change-form .field-label div label {
        float: none;
    }
</style>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}

    <div id="footer"></div>
    <script>
        CKEDITOR.replaceClass = 'vLargeTextField';
    </script>
{% endblock %}