{% extends "public/base.html" %}
{% load static %}
{% load fontawesome %}

{% block title %}
    {{ block.super }}
    - Career {{ job.id }} Apply
{% endblock title %}

{% block head %}
    <style>
        .checkBox {
            display:inline-block;
            margin-top:3em;
        }
    </style>
{% endblock head %}

{% block bodyclass %}page-template-default page page-id-31 desktop{% endblock %}

{% block content %}
    <div class="inside-page">
        <hgroup class="inside-pg-intro">
            <h1 class="ipi-h1">Stand out from the crowd</h1>
            <div class="ipi-p"><p>We’re passionate about technology. If you are, too, we’d like to hear from you. We are invested in building a community of creative technical thinkers. We offer highly competitive benefits and opportunities to grow.</p></div>
        </hgroup>
        <div class="inside-pg-content">
            <div class="headline-mod">
                <a href="{% url 'careers' %}">Careers</a> > <a href="{% url 'career_details' job.id %}">{{ job.pricing_schedule.job_title | title }}</a> >
                <h2 class="gradient-headline">Apply Now</h2>
            </div>
            <div class="contact-form ">

                <div class="form-message txt">
                    <p>Fill out the following form and we will contact you regarding this career opportunity.</p>
                </div>
                <div role="form" class="wpcf7" id="wpcf7-f45-o1" dir="ltr">
                    <div class="screen-reader-response"></div>
                    {% if status == 'new' %}
                        <form action="{% url "career_apply" job.id  %}" method="post" class="wpcf7-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset><label>First Name</label><span class="wpcf7-form-control-wrap firstName"><input type="text" name="firstName" value="" size="40" maxlength="30" class="required wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false"></span> </fieldset>
                            <fieldset><label>Last Name</label><span class="wpcf7-form-control-wrap lastName"><input type="text" name="lastName" value="" size="40" maxlength="100" class="required wpcf7-form-control wpcf7-text" aria-required="true" aria-invalid="false"></span> </fieldset>
                            <fieldset><label>Email</label><span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" maxlength="100" class="required wpcf7-form-control wpcf7-text wpcf7-email" aria-required="true" aria-invalid="false"></span> </fieldset>
                            <fieldset><label>Phone</label><span class="wpcf7-form-control-wrap phone"><input type="text" name="phone" value="" size="40" class="required wpcf7-form-control wpcf7-text wpcf7-phone " aria-required="true" aria-invalid="false"></span> </fieldset>
                            <fieldset><label>Preferred Communication Method</label>
                                <span class="wpcf7-form-control-wrap preferredCommunicationMethod">
                                    <label><input type="radio" name="preferredCommunicationMethod" value="email" checked="checked">&nbsp;Email</label>
                                    <label><input type="radio" name="preferredCommunicationMethod" value="phone" >&nbsp;Phone</label>
                                </span>
                            </fieldset>
                            <fieldset><label>Best Time To Contact</label><span class="wpcf7-form-control-wrap bestContactTime"><input type="text" name="bestContactTime" value="" size="40" class="required wpcf7-form-control wpcf7-text wpcf7-bestContactTime" aria-required="true" aria-invalid="false"></span> </fieldset>
                            <fieldset><label>Resume/CV</label><label class="button-link" style="text-align:center;">Upload File<span class="wpcf7-form-control-wrap your-resume"><input type="file" style="display:none;" name="resume" class="wpcf7-form-control" aria-invalid="false"></span></label></fieldset>
                            <fieldset class="fieldset-submit"><input type="submit" id="apply_submit" value="Apply Now" class="wpcf7-form-control wpcf7-submit"><span class="ajax-loader"></span></fieldset>
                        </form>
                        <br/>
                        <p>Note: Many of our positions are competitive bid positions with state and private agencies. There is a short time window for qualifying a potential candidate and preparing the required forms for submission. Because these positions are competitive bids, there is a process we must follow.</p>
                        <br/>
                        <p>Upon completion of basic verification steps, we perform a telephone interview with you. If, after completing this groundwork, you are a match for the position we will prepare the required forms and submit you for consideration. Ultimately our client may review the submitted package and elect to perform an additional interview process.</p>
                        <br/>
                        <p>There will be a fair amount of communication with you during this process. Please let us know your preferred method of communication regarding this position. Should you prefer to communicate via telephone, please let us know appropriate times to contact you.</p>
                        <br/>
                        <p>We look forward to working with you on this opportunity!</p>
                    {% elif status == 'error' %}
                        <div class="headline-mod">
                            <h2 class="section-h2" style="color:red;">Oops! An Error Occurred</h2>
                            <p>Please try again. If the problem persists, please email us directly at <a href="mailto:{{ siteDetail.jobs_email }}">{{ siteDetail.jobs_email }}</a>.</p>
                        </div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>

                    {% else %}
                        <div class="headline-mod">
                            <h2 class="section-h2" style="color:green;">Application Complete!</h2>
                            <p>Your application was successfully submitted. A job specialist will contact you shortly regarding this career opportunity.</p>
                        </div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include "page_teases.html" %}
    </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#apply_submit').on('click', function(e) {
            var required = $('.required').filter(function(){
                return !$(this).val();
            }).length;

            if (required > 0) {
                alert('Please fill in all required fields');
                e.preventDefault();
            }
        });
    });
</script>
{% endblock %}