{% load static %}

<section class="page-teases">
    <article class="page-tease">
        <h3 class="page-tease-kicker">Our Formula</h3>
        <h2 class="page-tease-headline"><a href="{% url 'services' %}">What we do matters</a></h2>
        <div class="page-tease-intro">
            <a class="tease-img-mod" href="{% url 'services' %}">
                <img src="{% static "public/img/matters.jpeg" %}">
            </a>
            <p>Our formula, carefully tuned to each engagement, efficiently and consistently delivers exactly what our clients need. How can we help you be more successful?</p>

            <div class="page-tease-button">
                <a href="{% url 'services' %}" class="button-link">Learn More</a>
            </div>
        </div>

    </article>
    <article class="page-tease">
        <h3 class="page-tease-kicker">Careers</h3>
        <h2 class="page-tease-headline"><a href="{% url 'careers' %}">Stand out from the crowd</a></h2>
        <div class="page-tease-intro">
            <a class="tease-img-mod" href="{% url 'careers' %}">
                <img src="{% static "public/img/leadership.jpeg" %}">
            </a>
            <p>We’re passionate about technology. If you are, too, we’d like to hear from you. We are invested in building a community of creative technical thinkers.</p>

            <div class="page-tease-button">
                <a href="{% url 'careers' %}" class="button-link">Learn More</a>
            </div>
        </div>

    </article>
</section>