{% extends "public/base.html" %}
{% load static %}

{% block title %}
    {{ block.super }}
    - Services
{% endblock title %}

{% block head %}{% endblock head %}

{% block bodyclass %}page-template-default page page-id-441 page-parent page-products desktop{% endblock %}

{% block content %}
    <div class="inside-page">
        <hgroup class="inside-pg-intro">
            <h1 class="ipi-h1">Our Services</h1>
            <h4 class="ipi-h2">Our business is constantly focused on innovation. Let our software services transform your concepts into real value.</h4>
        </hgroup>
        <div class="inside-pg-content">
            <section class="leadership-group">
                <div class="headline-mod">
                    <h2 class="gradient-headline">Creative Design</h2>
                </div>

                <section class="people">
                    <div class="content-wrapper">
                        <section class="team-list-mod text-med">
                            <p>Our creative process has been designed to integrate with our custom software development process.</p>
                            <p>In creative engagements we focuses on establishing business requirements, branding objectives and artistic direction of the project. During this initial process we decide which creative tools and technologies will be used to support the goals and objectives of the site. Once this Discovery process is done a structured design process is completed, resulting in the creation of comps for client review.</p>
                            <p>In conjunction with custom development a prototype is created to establish site navigation, element placement and flow. This is an iterative process that, upon completion, yields the final look of the site. Once finalized, the comps and prototype are assembled into the final site, which is then rolled out to users. </p>

                        </section>
                    </div>
                </section>
            </section>
            <section class="leadership-group">
                <div class="headline-mod">
                    <h2 class="gradient-headline">Technology Selection</h2>
                </div>

                <section class="people">
                    <div class="content-wrapper">
                        <section class="team-list-mod text-med">
                            <p>Our technology selection process is comprised of three main processes: The first is to identify, analyze and document the client's business objectives. This is used as the context and criteria for package selection. </p>
                            <p>The second process is to evaluate packages using a Feature/Function Utility matrix. This helps identify which client requirements are directly met through various packages, which ones will need customization and which ones simply aren't met by a package. Once a matrix is complete for each candidate package, all potential solutions can be evaluated side-by-side. </p>
                            <p>The final process is selection and implementation by our consultants. </p>
                        </section>
                    </div>
                </section>
            </section>
            <section class="leadership-group">
                <div class="headline-mod">
                    <h2 class="gradient-headline">Custom Software Development</h2>
                </div>

                <section class="people">
                    <div class="content-wrapper">
                        <section class="team-list-mod text-med">
                            <p>We apply a 4-phase development methodology to custom development efforts that is focused on defining business and technical requirements and then developing the system to fit these requirements. </p>
                            <p>The initial Discovery phase establishes the breadth of the project and ensures alignment between the project team members and client stakeholders. </p>
                            <p>The Planning phase defines the depth of the project, resulting in technical specification, functional specification, and prototype creation. </p>
                            <p>The application is coded during the Development phase in accordance with the functional and technical specification. In addition component and module integration testing is performed during development. During this process, we remain in close communication with our clients. </p>
                            <p>Finally, in the stabilization Phase, the application undergoes full systems testing and complete user acceptance testing. At the conclusion of this process the application is ready for Beta release and rollout. </p>
                        </section>
                    </div>
                </section>
            </section>
            <section class="leadership-group">
                <div class="headline-mod">
                    <h2 class="gradient-headline">System Architecture & Design</h2>
                </div>

                <section class="people">
                    <div class="content-wrapper">
                        <section class="team-list-mod text-med">
                            <p>Our system architecture & design services involve a System Architect generating the technical requirements to meet functional requirements of a system. Our process focuses on identifying solutions for the 6 major themes of system architecture: security, availability, scalability, maintainability, performance, and total cost of ownership (TCO). </p>
                            <p>Our System Architects will help identify all technical requirements including hardware/software/licensing requirements, database model (ERD), object model & design patterns and physical network requirements. </p>
                            <p>Our System Architect then designs the system to meet these specific requirements to achieve the project goals. </p>
                        </section>
                    </div>
                </section>
            </section>
            <section class="leadership-group">
                <div class="headline-mod">
                    <h2 class="gradient-headline">System Assessment</h2>
                </div>

                <section class="people">
                    <div class="content-wrapper">
                        <section class="team-list-mod text-med">
                            <p>Our system assessment service offers a Business Analyst and a System Architect to come in and provide an un-biased assessment of your current system assets with regards to their ability to meet current and future business objectives. This process typically involves analyzing distinct metrics and processes related to a system as well as defining a desired future state. </p>
                            <p>The results from this service provide the client with an analytical breakdown of the current state of the system as well as recommendations to achieve the desired future state with an estimate of dollars and time to achieve the end goals. </p>
                        </section>
                    </div>
                </section>
            </section>
            <section class="leadership-group">
                <div class="headline-mod">
                    <h2 class="gradient-headline">Performance Testing and Tuning</h2>
                </div>

                <section class="people">
                    <div class="content-wrapper">
                        <section class="team-list-mod text-med">
                            <p>Our performance testing & tuning service involves a System Architect and/or DBA to analyze the entire system and identify performance bottlenecks. Once this analysis is complete, our consultants will provide recommendations for tuning the application and database servers, potential application configuration changes, query optimizations, index tuning and network/disk/hardware optimizations. This recommendation comes in the form of a system testing/tuning document.</p>
                        </section>
                    </div>
                </section>
            </section>
            <section class="leadership-group">
                <div class="headline-mod">
                    <h2 class="gradient-headline">Application Integration</h2>
                </div>

                <section class="people">
                    <div class="content-wrapper">
                        <section class="team-list-mod text-med">
                            <p>Application Integration is the process of getting multiple systems to effectively communicate. Our application integration planning service is driven by two main processes: identifying communication types & mapping/translation. </p>
                            <p>Some examples of communication types are: stateful/stateless, tightly-coupled/loosely-coupled, synchronous/asynchronous and batch. These types help determine the design of the integration solution. </p>
                            <p>The second process is mapping/translation. This is the process of mapping security, roles, workflow, events and data from one system to another. </p>
                        </section>
                    </div>
                </section>
            </section>
        </div>
        {% include "page_teases.html" %}
    </div>
{% endblock content %}