<?xml version="1.0" encoding="utf-8"?>
<source>
<publisher>3GS LLC</publisher>
<publisherurl>http://www.3gsllc.com</publisherurl>
<lastBuildDate>{% now "r" %}</lastBuildDate>
{% for job in jobs %}
    <job>
        <title><![CDATA[{{ job.title }}]]></title>
        <date><![CDATA[{{ job.created | date:"r" }}]]></date>
        <referencenumber><![CDATA[{{ job.id }}]]></referencenumber>
        <url><![CDATA[http://www.3gsllc.com.com/jobs/{{ job.id }}]]></url>
        <company><![CDATA[3GS LLC]]></company>
        <city><![CDATA[{{ job.location }}]]></city>
        <state><![CDATA[]]></state>
        <country><![CDATA[]]></country>
        <postalcode><![CDATA[]]></postalcode>
        <description><![CDATA[ {{ job.description }}]]></description>
        <salary><![CDATA[]]></salary>
        <education><![CDATA[]]></education>
        <jobtype><![CDATA[{{ job.work_hours }}]]></jobtype>
        <category><![CDATA[]]></category>
        <experience><![CDATA[]]></experience>
    </job>
{% endfor %}
</source>