<?xml version="1.0" encoding="utf-8"?>
<source>
<publisher>{{ siteDetail.company_name }}</publisher>
<publisherurl>http://www.{{ site.domain }}</publisherurl>
<lastBuildDate>{% now "r" %}</lastBuildDate>
{% for job in jobs %}
    <job>
        <title><![CDATA[{{ job.pricing_schedule.job_title }}]]></title>
        <date><![CDATA[{{ job.created | date:"r" }}]]></date>
        <referencenumber><![CDATA[{{ job.id }}]]></referencenumber>
        <url><![CDATA[http://www.{{ site.domain }}/careers/{{ job.id }}]]></url>
        <company><![CDATA[{{ siteDetail.company_name }}]]></company>
        <city><![CDATA[{{ job.location }}]]></city>
        <state><![CDATA[]]></state>
        <country><![CDATA[]]></country>
        <postalcode><![CDATA[]]></postalcode>
        <description><![CDATA[
            <b>About {{ siteDetail.company_name }}</b>
            <p>{{ siteDetail.company_name }} is a professional services firm backed by over 30 years of experience in software consulting and professional services.
            We pride ourselves on providing exemplary Professional Staffing Services, Software and Systems Consulting, Application Services, and Hosting Capabilities.</p>
            <br/><br/>
            <b>What we offer</b>
            <p>{{ siteDetail.company_name }} is managed by technologists but also by people who can relate to you, the work environment and the task at hand.
            What this means to you is that we get it. We offer superior pay for superior work. You will have access to health benefits, retirement plans,
            paid time off, exciting travel and challenging assignments.</p>
            <br/><br/>
            <b>Job Details</b>
            {{ job.description| safe }}
        ]]></description>
        <salary><![CDATA[Compensation is dependent upon qualifications.]]></salary>
        <education><![CDATA[]]></education>
        <jobtype><![CDATA[{{ job.work_hours }}]]></jobtype>
        <category><![CDATA[]]></category>
        <experience><![CDATA[
            <br/><br/>
            <b>Mandatory Qualifications</b>
            <br/>
            {% for qualification in job.mandatoryQualifications.all %}
                {{ qualification.label| safe }}<br/>
            {% endfor %}
            <br/>
            <b>Requested Qualifications</b>
            <br/>
            {% for qualification in job.requestedQualifications.all %}
                {{ qualification.label| safe }}<br/>
            {% endfor %}
         ]]></experience>
    </job>
{% endfor %}
</source>