<?xml version="1.0" encoding="utf-8"?>
<source>
<publisher>{{ siteDetail.company_name }}</publisher>
<publisherurl>http://www.{{ site.domain }}</publisherurl>
<lastBuildDate>{% now "r" %}</lastBuildDate>
{% for job in jobs %}
    <job>
        <title><![CDATA[{{ job.title }}]]></title>
        <date><![CDATA[{{ job.created | date:"r" }}]]></date>
        <referencenumber><![CDATA[{{ job.id }}]]></referencenumber>
        <url><![CDATA[http://www.{{ site.domain }}/careers/{{ job.id }}]]></url>
        <company><![CDATA[{{ siteDetail.company_name }}]]></company>
        <city><![CDATA[{{ job.location }}]]></city>
        <state><![CDATA[]]></state>
        <country><![CDATA[]]></country>
        <postalcode><![CDATA[]]></postalcode>
        <description><![CDATA[ {{ job.description }}]]></description>
        <salary><![CDATA[Based on experience]]></salary>
        <education><![CDATA[]]></education>
        <jobtype><![CDATA[{{ job.work_hours }}]]></jobtype>
        <category><![CDATA[]]></category>
        <experience><![CDATA[
            <p>
            <span>Mandatory Qualifications</span>
            <ul>
                {% for qualification in job.mandatoryQualifications.all %}
                    <li>{{ qualification.label }}</li>
                {% endfor %}
            </ul>
            </p>
            <p>
            <span>Requested Qualifications</span>
            <ul>
                {% for qualification in job.requestedQualifications.all %}
                    <li>{{ qualification.label }}</li>
                {% endfor %}
            </ul>
            </p>
         ]]></experience>
    </job>
{% endfor %}
</source>